/*----------------------RESET--------------------*/

body,div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input
{display:none;}

body{line-height:1; font-size:62.5%; background:#fff; font-family:Arial, Helvetica, sans-serif;} /*---- 1.0 em = 10px---*/

h1, h2, h3, h4, h5, h6{font-size:100%;}

/*----------------------RESET--------------------*/
@media print {

    * {
        background:transparent !important;
        color:#000 !important;
        text-shadow:none !important;
        filter:none !important;
        -ms-filter:none !important;
    }

    body {
        top:0;
        left:0;
        line-height: 1.4em;
        background: #FFF; 
        color: #000; 
        font: 12pt serif;
    }
    table, tr, td, th{
        visibility:visible;
    }
    table{
        position: absolute;
    }
}